<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="BluewaterSoft.LangtonsLoops" Publisher="CN=C5AD3088-E92F-4015-A6F7-6E9E514613A1" Version="0.0.0.0" />
  <Properties>
    <DisplayName>セル・オートマトン: Langton's Loops</DisplayName>
    <PublisherDisplayName>BluewaterSoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ManyCore0404.CellularAutomaton.App">
      <VisualElements DisplayName="Langton's Loops" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ManyCore0404.CellularAutomaton" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>